html {
	width: 100%;
	height: 100%;
}

body {
	background-color: #1B3A44;
	overflow:hidden;
}

span.text {
	position: absolute;
	color: #fff;
	text-align: center;
}

.title {
	color: #fff;
	text-align: center;
	margin-top: 50px;
}

/* filter backdrop */
div.filter {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 99;
	top: 0;
	left: 0;
	right: 0;
	display: none;
}
div.filter-bg {
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: white;
}

.filter img {
	position: fixed;
	width: 200px;
	margin: auto;
	z-index: 9999;
	top: 40%;
	left: 38%;
}

.slider-vertical{
	/*margin-right: 8px;*/
	margin-top: -200px;
}

.container-line1 {
	margin-top: 80px;
}
.knob-container {
	/*padding-top: 55px;*/
	height: 293px;
	border-left: 1px solid #fff;
	padding: 0px;
}

.eq-in-container {
	padding-top: 40px;
	padding-left: 20px;
	height: 147px;
}

.hp-filter-container {
	padding: 30px 20px;
	height: 146px;
}

.eq-in-container:first-child {
	border-bottom: 1px solid #fff;
}

.eq-in-container:not(:first-child) {
	border-top: 1px solid #fff;
}

.container-line1, .container-line2 {
	border: 1px solid #fff;
}

.container-line2 {
	border-top: 0px;
}

.eq-label {
	display: inline-block;
	height: 210px;
	font-size: 10px;
	color: white;
	margin-left: 4px;
}

.eq-label > table {
	height: 100%;
}

.eq-label-top {
	font-size: 10px;
	color: white;
	margin-left: 19px;
	margin-bottom: 4px;
}

.eq-label-top td {
	width: 32px;
	text-align: center;
}	

.eq-container {
	padding: 30px 76px;
}

/* button */
.knob-container button {
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: #eee;
	border: none;
	border-radius: 2px;
	box-shadow: 3px 5px #000;
	padding-top: 0px;
}

.knob-container button:hover {
	background-color: #ddd;
}

.knob-container button:active{
	background-color: #ccc;
	box-shadow: 0 2px #000;
	transform: translateY(5px);
}

.eq-in-btn {
	margin-top: 10px
}

.hp-filter-btn {
	left: 170px;
	margin-top: 30px;
}

.container-line1 button.pressed, .container-line2 button.pressed {
	box-shadow: inset 0 0 5px #000;
	background-color: #00b16a; 
}

/* end button */

hr {
	display: inline;
	position: absolute;
	border: 0;
	border-bottom: 1px dashed #ccc;
}

hr.large {
	margin-top: 40px;
	width: 40px;
}

hr.small {
	margin-left: 20px;
	width: 50px;
}

.manage-knob {
	margin-left: 70px !important;
}

.small-container {
	padding-left: 60px;
}

.container-line1 .large-container {
	padding-top: 35px !important;
	padding-left: 30px;
}

.container-line1 .small-container {
	padding-top: 50px;
}

.container-line2 .small-container {
	padding-top: 50px;
}

.container-line2 .large-container {
	padding-top: 35px !important;
	padding-left: 30px;
}

.container-line1 .large-container span.text {
	top: 22px;
	left: 154px;
}

.container-line1 .small-container span.text {
	top: 182px;
	left: 52px;
}

.container-line2 .small-container span.text {
	top: 36px;
	left: 52px;
}

.container-line2 .large-container span.text {
	top: 168px;
	left: 154px;
}

.reset {
	margin-top: 20px;
}

/* Responsive for ipad */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* For portrait layouts only */
 div.filter {
 	display: block
 }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */
 	.slider-vertical {
 		height: 190px !important;
 		width: 14px !important;
 		margin: 0;
 		top: -94px;
 	}

 	span.text {
 		font-size: 12px;
 	}

 	.eq-label-top td {
 		width: 26px;
 	}

 	.eq-label-bottom {
 		margin-top: -86px;
 	}

 	.eq-label {
 		height: 198px;
 	}

 	.container-line1 {
 		margin-top: 60px;
 	}

 	.eq-container {
 		height: 272px;
 		padding: 30px 15px;
 	}

 	.container-line1 .large-container {
 		padding-top: 35px !important;
 		padding-left: 16px;
 	}

 	.container-line1 .large-container span.text {
 		top: 30px;
 		left: 112px;
 	}

 	.small-container {
    padding-left: 32px;
}

	.manage-knob {
    margin-left: 54px !important;
  }

  .container-line1 .small-container span.text {
  	top: 186px;
  	left: 28px;
  }

  .container-line2 .small-container span.text {
  	top: 40px;
  	left: 28px;
  }

  .container-line2 .large-container {
  	padding-top: 35px !important;
  	padding-left: 16px;
  }

  .container-line2 .large-container span.text {
  	top: 178px;
  	left: 112px;
  }

  .container-line1 .small-container {
    padding-top: 44px;
}

.container-line2 .small-container {
    padding-top: 44px;
}

.hp-filter-btn {
	left: 124px;
	margin-top: 34px;
}

.eq-in-btn {
    margin-top: 18px;
}
}