body {
	background-color: #1B3A44;
}

.title {
	color: #fff;
	text-align: center;
	margin-top: 50px;
}

.slider-vertical{
	/*margin-right: 8px;*/
	margin-top: -200px;
}

.container-line1 {
	margin-top: 50px;
}

.container-line2 {
	/*margin-top: 35px;*/
}

.knob-container {
	padding-top: 55px;
}

.container-line1, .container-line2, .knob-container {
	border: 1px solid #fff;
}

.eq-label {
	display: inline-block;
	height: 210px;
	font-size: 10px;
	color: white;
	margin-left: 4px;
}

.eq-label > table {
	height: 100%;
}

.eq-label-top {
	font-size: 10px;
	color: white;
	margin-left: 21px;
	margin-bottom: 4px;
}

.eq-label-top td {
	width: 31px;
	text-align: center;
}	

.eq-container {
	padding-top: 30px;
	padding-bottom: 30px;
}